@font-face {
    font-family: AgencyFBBold;
    src: url('font/AGENCYB.TTF');
}
@font-face {
    font-family: AgencyFBRegular;
    src: url('font/AGENCYR.TTF');
}
@font-face {
    font-family: Arimo-Regular;
    src:url('font/Arimo-Regular.ttf') ;
}@font-face {
    font-family: Arimo-Italic;
    src:url('font/Arimo-Italic.ttf') ;
}@font-face {
    font-family: Arimo-BoldItalic;
    src:url('font/Arimo-BoldItalic.ttf') ;
}@font-face {
    font-family: Arimo-Bold;
    src:url('font/Arimo-Bold.ttf') ;
}

body{
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

/* ===============================  SECTION 1 ======================================  */
.section1 {
    width: 1920px;
    padding-bottom: 218px;
    background: url("../img/fond_barbe_header.jpg") no-repeat;
    background-size: cover;
}

.section1 ul {
    list-style-type: none;

}
/*header {
    background-color: #555555;
    padding-right: 218px;
}*/
.section1 ul li {
    display: inline-block;
}
/*.menu>li>a{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    padding-right: 62px;
    font-family: AgencyFB;
    font-size: 10px;
}*/
.logo{
    text-align: right;
    margin-right: 340px;
}
table {
    border: 3px solid #ffffff;
    border-right: none;
    border-left:none;
}

table.logo_desc {
    font-family: Arimo-Regular;
    color: #ffffff;
    margin-left: auto;
    margin-top: 32px;
    margin-right: 274px;
}
table#logo_desc>tbody>tr:nth-child(1){
    font-size: 28px;
    padding-bottom: 15px;
}
table#logo_desc>tbody>tr:nth-child(2){
    font-size: 40px;
    padding-bottom: 24px;
}
table#logo_desc>tbody>tr:nth-child(3){
    font-size: 76px;
}

/* ===============================  SECTION 2 ======================================  */
.section2 {
    width: 1920px;
    padding-top: 76PX;
    padding-bottom: 76px;
    background: url("../img/pattern_by_miseryloneliness.png");
}
.section2 p {
    font-family: Arimo-Regular;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.haircut {
    height: 342px;
    width: 224px;
}

.barber{
    height: 342px;
    width: 224px;
}
.beardcare {
    height: 342px;
    width: 224px;
}

div.section2 {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-evenly;
}

/* ===============================  SECTION 3 ======================================  */
.section3 {
    width: 1920px;
    height: 1080px;
    background: url("../img/fond_enfant_tarifs.jpg") no-repeat center;
}
.cutkill_logo2{
    padding-top: 45px;
    margin-left: 450px;
    position: relative;
}
.cutkill_logo2 p{
    font-family: AgencyFBRegular;
    font-size: 60px;
    color: #242C29;
    margin-top: 23px;
    margin-left: 40px;
    position: relative;
}

.tableau h4 {
    font-family: AgencyFBRegular;
    font-size: 36px;
    color: #242C29;
}
.tableau ul{
    list-style-type: none;
}
.tableau ul li {
    font-family: Arimo-Regular;
    font-size: 18px;
    color: #242C29;
}
.tableau ul.coif_li {
    padding-left: 0px;margin-top: 0px;margin-bottom: 0px;
    padding-top: 38px;
}
.tableau ul.raz_li {
    margin-top: 0px;margin-bottom: 0px;padding-left: 0px;
    padding-top: 38px;
}
.tableau ul.epil_li {
    padding-left: 0px;margin-top: 0px;margin-bottom: 0px;
    padding-top: 38px;
}

.tableau {
    width: 768px;
    /*height: 508px;*/
    border: 7px double #000000;
    border-radius: 7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    padding-right: 11px;
    padding-left: 11px;
    padding-bottom: 33px;
    padding-top: 33px;
    margin-left: 196px;
    margin-top: 52px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:'c r'
                       'e e';
}

.tableau .coiffure {
    grid-area: c; min-width:auto;text-align: justify;
}

.tableau .rasage {
    grid-area: r; min-width: auto;text-align: justify;
}
.tableau .epilation {
    grid-area: e; min-width: auto;text-align: justify;
}

.tableau h4#coif {
    /*grid-area: a;*/ min-width: auto;text-align: center;margin: 0;
}.tableau h4#raz {
    /*grid-area: b;*/ min-width: auto;text-align: center;margin: 0;
}.tableau h4#epil {
    /*grid-area: h;*/ min-width: auto;text-align: center;margin: 0;
      padding-top: 48px;
}

.section3 .tarif{
    margin-left: 271px;
    margin-top: 22px;
    margin-bottom: 77px;
    font-family: Arimo-Regular;
    font-size: 16px;
    color:#242C29;
}
/* ===============================  SECTION 4 ======================================  */
.section4 {
    background: url("../img/27739629_p.jpg");
    width: 1920px;
    height: 1299px;
    padding-top: 5PX;
    padding-bottom: 1px;
    color: #ffffff;
}

.titre {
    text-align: center;
}

.titre p#rdv{
    font-family: AgencyFBRegular;
    font-size: 60px;
    color: #ffffff;
}
.titre p#rdv_desc{
    font-family: Arimo-Regular;
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
}

.titre p#rdv_desc span {
    font-family: Arimo-Regular;
    font-size: 100px;
    color: #ffffff;
}

.section4 ul li {
    list-style-type: none;
    font-family: Arimo-Regular;
    font-size: 16px;
    color: #ffffff;
}

.opacity {
    opacity: 0.4;
    background-color: #7E7B78;
    border: 5px double #999999;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    /*height: 820px;*/
    width: 1610px;
    margin-left: 100px;
    margin-right: 200px;
    display: grid;
    grid-template-areas: 'a a c d'
                         'a a f f'
                         'a a g g';
}
.opacity #item-1{
    grid-area: a;min-width: auto;
}.opacity #item-2{
    grid-area: a;width: 295px;
     height: 200px;
     padding-left: 400px;
     padding-top: 85px;
}.opacity #item-3{
    grid-area: c;width: 283px;height: 158px;padding-top: 85px;
}.opacity #item-4{
    grid-area: d;width: 411px;height: 193px;padding-top: 13px;
}.opacity #item-5{
    grid-area: f;width: 707px;height: 181px;padding-top: 50px;
    min-width: auto;
}.opacity #item-6{
    grid-area: g;width: 498px;height: 39px;text-align: center;  padding-left: 40px;
         font-family: Arimo-Regular;
         font-size: 18px;
         color: #ffffff;
}

.opacity h4 {
     margin: 0px;
     padding-left: 40px;
     font-family: AgencyFBRegular;
     font-size: 36px;
     color: #ffffff;
 }


.contact_form{
    padding-left: 70px;
    padding-top: 85px;
}

textarea {
    height: 300px;
    width: 600px;
}

input {
    margin-bottom: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 8px;
    border: 2px dotted white;
    width: 300px;
}
/* ===============================  footer ======================================  */
footer {
    display: flex;
    justify-content: center;
}
footer p{
    text-align: center;margin-left: auto;
}

footer img {
    padding-left: 25px;
}

.sc{
    text-align: right;margin-left: auto;padding-right: 40px;
    padding-top: 20px;padding-bottom: 28px;
}